marques/nf4/xml/AC4.1_Gras_Mark/e3_personaMG/e3_personaMG.dtd

<!ELEMENT persona (NIF, nom, cognoms+, contacte*, sexe)>

<!ELEMENT NIF (#PCDATA)>
<!ATTLIST NIF nif ID #REQUIRED>

<!ELEMENT nom (#PCDATA)>
<!ATTLIST nom nom CDATA #REQUIRED>

<!ELEMENT cognoms (#PCDATA)>


<!ELEMENT contacte (#PCDATA)>

<!ELEMENT sexe (#PCDATA)>
<!ATTLIST sexe genere (Home | Dona) #IMPLIED>
    
<!ATTLIST contacte tipus (Correu | Telefon) #IMPLIED>